


.App {
  text-align: center;
  background: url("code_and_music_bg.svg") 0 0 repeat fixed,radial-gradient(circle, #313838 0, #141617 100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App {
    animation:fancypants;
    animation-duration:30s;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes fancypants {
  0% {
    background-position-x:0;
    background-position-y:0
  }
  to {
    background-position-x:350px;
    background-position-y:350px
  }
}